.footer {
  display: flex;
  flex-direction: column;
  background: #032775;
  justify-content: space-between;
  height: 200px; 
  padding: 40px 60px;
  margin-top: 20px;
  gap: 20px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  height: 300px;
  gap: 100px;
  margin-top: 20px;
}
.footer .footer-left {
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.footer .footer-left a {
  transition: 200ms;
  background: white;
  padding: 20px;
  border-radius: 50%;
}
.footer .footer-left a:hover {
  transform: scale(1.02);
  background: orange;
}
.footer .footer-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-right ul {
  padding: 0;
  margin: 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
}
.footer-right ul li {
  font-size: 20px;
  font-weight: bold;
  color: white;
  transition: 200ms;
  cursor: pointer;
}
.footer-right ul li:hover {
    color: orange;
    font-size: 20px;
    font-weight: bold;
  }

.dev-mention {
  color: white;
  text-align: center;
}

.dev-mention a {
  color: orange;
  text-decoration: none;
  font-weight: 600;
}

@media (max-width: 824px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 40px;
    height: auto;
    gap: 50px;
  }

  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 50px; */
    height: auto;
    margin-top: 0;
  }

  .footer .footer-left,
  .footer .footer-right {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .footer .footer-left {
    flex-direction: row;
    gap: 40px;
  }

  .footer .footer-left a {
    padding: 20px;
  }

  .footer-right ul {
    align-items: center;
    list-style: none;
    gap: 20px;
  }

  .footer-right ul li {
    font-size: 28px;
    text-align: center;
  }

  .dev-mention {
    font-size: 20px;
    padding: 10px 0;
  }
}

