.busca{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    display: flex;
    padding: 14px 16px;
    width: 70%;
}

.input{
    outline: none;
    width: 70%;
}