@import 'styles/breakpoints';

.nav {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 'logo links busca icones';
  height: 100px;
  padding: 0 120px;
  position: fixed;
  width: 100vw;
  z-index: 1;
  background: #aeaeae ;
  @media(max-width: $tablet) {
    grid-template-areas:
      'logo logo'
      'links icones'
      'busca busca';
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 200px;
    justify-items: center;
  }
  @media(max-width: $mobile-sm) {
    padding: 0 50px;
  }
}

.logo {
  cursor: pointer;
  grid-area: logo;
}

.links {
  grid-area: links;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  @media(max-width: $tablet) {
    justify-self: start;
  }
}

.link {
  color:#ca600e ;
  font-size: 22px;
  transition: 300ms;
}

.link:hover{
  color:#ffffff ;
  font-size: 22px;
}

.busca {
  align-items: center;
  display: flex;
  grid-area: busca;
  width: 100%;
}

.selected {
  font-weight: bold;
  text-decoration: underline;
}

.icones {
  display: flex;
  gap: 20px;
  grid-area: icones;
  margin-left: 30px;
}

.categorias {
  align-items: center;
  display: flex;
  flex-direction: flex;
  padding: 0 100px 0 10px;
  // transform: translateY(-250px);
  h1 {
    color: white;
    font-size: 20px;
    padding-right: 30px;
  }
  &-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    // top: calc(100% - 150px);
    width: 90%;
    > div {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      h2 {
        color: #041833;
        font-size: 15px;
      }
      
    }
  }
}