.book {
  display: flex;
  /* background: red; */
  align-items: center;
  justify-content: center;
}
.book .book-container {
  display: flex;
  width: 100%;
  flex: 1;
  box-sizing: border-box;
  gap: 20px;
}
.book-container .book-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* padding: 20px 40px 20px 20px; */
}

.book-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: red; */
}

.book-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

img {
  max-width: 100px;
  /* height: auto; */
  /* object-fit: cover; */
  /* cursor: default; */
}

.books-sale {
  display: flex;
  gap: 20px;
  align-items: center;
}

.book-price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 85, 0);
  font-weight: 500;
  gap: 10px;
}
.books-sale img {
  width: 100px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

@media (min-width: 308px) and (max-width: 1024px) {
  .book {
    display: flex;
    /* background: red; */
    align-items: center;
    justify-content: center;
  }
  .book .book-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    gap: 20px;
  }
  .book-container .book-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 34px;
    /* padding: 20px 40px 20px 20px; */
  }

  .book-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
  }

  .book-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }


  .books-sale {
    display: flex;
    font-size: 10px;
    align-items: center;
  }

  .books-sale img {
    width: 100px;
  }

  p{
    font-size: 14px;
    /* background: green; */
  }

  .book-sinopse {
    font-size: 20px;
  }

  .book-price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(255, 85, 0);
    font-weight: 800;
    gap: 10px;
  }
  /* .books-sale img {
    width: 100px;
    height: auto;
    object-fit: contain;

  } */
}
