.book {
  display: flex;
  align-items: center;
  justify-content: center;
}
.book .book-container {
  display: flex;
  width: 100%;
  flex: 1;
  box-sizing: border-box;
  gap: 20px;
}
.book-container .book-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  font-size: 20px;
}

.book-image {
  width: 100% !important;
  display: flex;
  /* background: #000; */
  justify-content: center;
  align-items: center;
}

.book-image img {
  width: auto  !important;
  height: auto  !important;
  object-fit: contain; 
  /* background-color: red; */
}

.book-sale {
  width: auto;
  padding: 10px;
  background: green;
  gap: 10px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.book-sale a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.book-sale img {
  width: 30px;
}
.book-price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 85, 0);
  font-weight: 500;
  gap: 10px;
  font-size: 20px;
}
.book-image img {
  width: 240px !important;
  height: 500px !important;
  object-fit: cover; 
}

@media (min-width: 308px) and (max-width: 904px) {
  .book {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .book .book-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    gap: 20px;
  }
  .book-container .book-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
  }

  .book-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .book-image img {
    width: auto;
    height: auto !important;
    object-fit: contain; 
    background-color: #f0f0f0; 
  }
  

  .book-price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(255, 85, 0);
    font-weight: 800;
    gap: 10px;
  }

  .book-description {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .book-description p{
   font-size: 24px;
   font-weight: 500;
  }

  .book-sale {
    width: auto;
    padding: 30px;
    background: green;
    border: 1px solid grey;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
  }

  .book-sale a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
  }

  .book-sale img {
    width: 50px;
  }
}

@media (min-width: 900px) and (max-width: 1004px) {
  .book {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .book .book-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    gap: 20px;
  }
  .book-container .book-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 36px;
  }

  .book-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .book-image img {
    width: auto;
    height: auto  !important;
    object-fit: contain; 
    background-color: #f0f0f0; 
  }
  
  .book-price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    color: rgb(255, 85, 0);
    font-weight: 800;
    gap: 10px;
  }

  .book-description {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .book-description p{
   font-size: 34px;
   font-weight: 400;
  }

  .book-sale {
    margin-top: 20px;
    width: auto;
    padding: 30px;
    background: green;
    border: 1px solid grey;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
  }

  .book-sale a {
    text-decoration: none;
    color: white;
    font-size: 34px;
    font-weight: 600;
  }

  .book-sale img {
    width: 70px;
  }
}

