.book {
  display: flex;
  /* background: red; */
  align-items: center;
  justify-content: center;
}
.book .book-container {
  display: flex;
  width: 100%;
  flex: 1;
  box-sizing: border-box;
  gap: 20px;
}
.book-container .book-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* padding: 20px 40px 20px 20px; */
}
img {
  width: 100px;
  /* height: 600px; */
  object-fit: cover;
  cursor: default;
}
.books-sale {
  display: flex;
  gap: 20px;
  align-items: center;
}

.book-price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 85, 0);
  font-weight: 500;
  gap: 10px;
}
.books-sale img {
  width: 100px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

@media (min-width: 308px) and (max-width: 1024px) {
  .book {
    display: flex;
    /* background: red; */
    align-items: center;
    justify-content: center;
  }
  .book .book-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    gap: 20px;
  }
  .book-container .book-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 43px;
    /* padding: 20px 40px 20px 20px; */
  }
  .book-image img {
    width: 70px;
  }
  .books-sale {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .book-price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    color: rgb(255, 85, 0);
    font-weight: 800;
    gap: 10px;
  }
  .books-sale img {
    width: 100px;
    height: auto;
    object-fit: contain;

  }
}
