.main-authors {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #505050;
  gap: 20px;
}

.main-authors h1 {
  font-size: 24px;
  font-weight: bold;
  /* margin-left: 20px; */
  /* background: #000; */
}

.authors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* padding: 20px; */
}

.author-item {
  display: flex;
  background: rgb(221, 221, 221);
  border-radius: 10px;
  color: rgb(124, 124, 124);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: 300ms;
  gap: 20px;
}

.author-item:hover {
  transform: scale(1.02);
}

.author-item img {
  width: 180px;
  height: 180px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.author-information {
  /* background: white; */
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.author-name,
.author-birth,
.author-nacionality {
  font-size: 18px;
  font-weight: bold;
  color: #414141;
}

.author-biography {
  font-size: 14px;
  text-align: justify;
  color: #414141;
}

@media (min-width: 308px) and (max-width: 1024px) {
  .main-authors {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px 80px 20px 80px;
  }

  .main-authors h1 {
    font-size: 44px;
  }

  .authors {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 120px;
  }

  .author-item {
    flex: 1;
    box-sizing: border-box;
    background: rgb(231, 231, 231);
    width: 100%;
    /* height: 700px; */
    padding: 50px;
    transition: 300ms;
    gap: 30px;
    border-radius: 50px;
  }

  .author-item:hover {
    transform: scale(1.02);
  }

  .author-item img {
    width: 360px;
    height: 360px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
  }

  .author-information {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
  }

  .author-name,
  .author-birth,
  .author-nacionality {
    font-size: 40px;
    align-items: center;
    gap: 16px;
    display: flex;
    font-weight: bold;
    color: #414141;
  }

  .author-biography {
    padding: 0 50px 0 50px;
    font-size: 18px;
    font-weight: bold;
    color: #414141;
    text-align: start;
  }
}
